html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* Ensure the content takes up all remaining space */
.content {
  flex: 1; /* Fills available vertical space */
}

body {
    font-family:'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
  }
  
  header {
    background: #3a3a3a;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
  }
  
  header nav a {
    color: #fff;
    margin: 0 1rem;
    text-decoration: none;
  }
  
  main {
    padding: 2rem;
  }
  
  .project {
    margin-bottom: 1.5rem;
  }
  
  footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
}
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
  }
  video {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .image-container {
    display: flex;
    gap: 20px;
  }
  a {
    color: white; /* Change the color */
}